---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Fate Core';
    src: url(../fonts/Fate\ Core\ Font.ttf) format('truetype')   
}

.big { font-size: 2em; line-height: 1.2em; }
.fate-font { font-family: 'Fate Core'; font-weight: 400; }
